.navBar {
    position: relative;
    overflow: hidden;
    background-color: #333;
  }
  
  /* Add this style to blur the page */
  .navBar.blur::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(8px);
  }
  
  #searchbar:focus {
    /* Add this class to blur the page */
    outline: solid rgb(9, 1, 43) 2000px;
    transition: all 1s ease-in;
    text-align: left;
    /* Add this class to blur the page */
    transform: scale(1.1);
    z-index: 1;
    /* Add this class to blur the page */
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  /* Add this class to blur the page */
  .navBar.blur #searchbar:focus ~ .main {
    filter: blur(5px);
  }