.tableFilmek {
    text-align: left;
    position: relative;
    left: 30px;
    width: 50%;
    border-collapse: collapse;
}
.tableFilmek tr:nth-child(even) {
    background-color: gray;}

.tableFilmek tr:hover {
    background-color: darkgrey;
}

caption{
    text-align: left;
    font-size: larger;
    font-weight: bold;
}

.comment{
    font-size: smaller;
    margin-left: auto;
    margin-right: 30px;
    margin-left: 30px;
}

iframe{
    position: relative;
    left: 30px;
    width: 60%;
    height: calc(60vw * 0.5625); /* 9:16 arány */
}

h1{
    text-align: center;
}

.szoveg{
    margin-left: auto;
    margin-right: 30px;
    margin-left: 30px;
}