* {
    list-style-type: none;
}

html {
    height: 100%;
}

body {
    background-color: #000000;
    background-image: linear-gradient(90deg, #535353, #494949, #000000, #494949, #535353);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: whitesmoke;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.main {
    width: 100%;
    margin-top: 5%;
}