html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #000000;
  background-image: linear-gradient(90deg, #535353, #494949, #000000, #494949, #535353);
  background-size: 400% 400%;
  animation: gradient 20s ease-in;
  color: whitesmoke;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3e3e3e; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(0, 1, 38); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 2, 64);   
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  z-index: 1000;
}

#logo {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

#logo:hover {
  background-color: #ddd;
  color: black;
}

.menu {
  float: left;
  padding: 14px 100px;
}


#menuBTN, .loginBTN, .searchOverlay-btn {
  background-color: #333;
  border: none;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#menuBTN:hover, .loginBTN:hover {
  background-color: #ddd;
  color: black;
}

.rightSide {
  float: right;
  padding: 15px 10px;
  position: relative;
  display: inline-block;
}

.searchbarCenter .searchbar, .searchOverlay-btn, .searchbar {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchbar {
  box-sizing: border-box;
  font-size: 1em;
  width: 40%;
  padding-left: 20px;  
  outline:solid rgb(0, 1, 38) 0;
  border: solid 3px #323232;
  border-radius: 20px;
}

#mainSearch:focus {
  border: solid 3px #09f;      
  outline: solid rgb(9, 1, 43) 2000px;  
  transition: all 1s ease-in;
  text-align: left;
  z-index: 1;
}

.searchbar::placeholder {
  text-align: center;
}

.searchbar:hover {
  border: solid 5px rgb(5, 31, 48);
}

.searchOverlay-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.searchOverlay-btn img {
  width: 20px;
  height: 20px;
}

 .overlay, .searchOverlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  background-color: rgba(51, 51, 51, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlayTable {
    margin-left:auto; 
    margin-right:auto;
    border-collapse: separate;
    border-spacing: 50px 0;
}

.overlayTable td {
  padding: 10px 0;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f2f2f2;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #6b6b6b;
}

.overlay .closeBTN {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 40px;
}

#menuActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menuHome {
  display: none;
}

.mobile-screen .overlayFilmek, .mobile-screen .overlaySorozatok {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.mobile-screen a {
  font-size: 20px;
}

.mobile-screen {
  display: none;
}

@media only screen and (max-width: 835px) {
  #mainSearch {
    display: none;
  }
  .searchOverlay-btn {
    display: block;
  }
}

@media only screen and (min-width: 836px) {
  #mainSearch {
    display: block;
  }
  .searchOverlay-btn {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .leftLogo {
    display: none;
  }

  .menu {
    float: left;
    text-align: center;
    padding: 14px 16px;
  }

  .overlay #menuHome {
    display: block;
    position: absolute;
    top: 50px;
    left: 45px;
    font-size: 40px;
  }

  .wide-screen {
    display: none;
  }

  .mobile-screen {
    display: block;
  }
}

@media only screen and (min-width: 601px) {
  .leftLogo{
    display: block;
  }
}
@media print {
  body{
    background: none !important;
    font-family: Arial, sans-serif !important;
    color: black !important;
  }

  .overlay, .navBar, footer, iframe, .comment {
    display: none !important;
  }
}
