* {
    list-style-type: none;
}

html {
    height: 100%;
}

body {
    background-color: #000000;
    background-image: linear-gradient(90deg, #535353, #494949, #000000, #494949, #535353);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: whitesmoke;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.main {
    margin-top: 5%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.mainPart {
    display: flex;
    padding: 15px 15px;
}

.poster, .poster a{
    width: 100%;
    height: 30%;
    display: flex;
}

#posterIMG {
    width: 80%;
    height: 100%;
}

.description {
    padding-left: 20px;
}

.categoryBTN {
    border: none;
    border-radius: 25%;
    margin-right: 5px;
    background-color: rgba(53, 53, 53, 0.5);
    color: whitesmoke;
    cursor: pointer;
}

.categoryBTN:hover {
    background-color: rgba(75, 75, 75, 0.5);
}


.secondary {
    width: 100%;
}

.secondary h2 {
    margin-left: 20px;
}

.topmusorok {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

.slide-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    color: whitesmoke;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.9s linear; 
    transition: visibility 0s, opacity 0.9s linear;
  }
  
  .topmusorok a {
    position: relative;
  }
  
  .topmusorok a:hover .slide-desc {
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
  }
  
  
  

.topmusorok img {
    height: 300px;
    width: 200px;
    padding-right: 100px;
}


.lablec {
    margin-top: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.socialMedia,
.settings {
    display: flex;
    align-items: center;
}

.socialMedia::after {
    content: "";
    display: block;
    height: 50px;
    width: 1px;
    background-color: whitesmoke;
    margin-left: 40px;
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.lablec a {
    margin: 40px;
}

.lablec li {
    margin: 20px;
}

@media only screen and (max-width: 1600px) {
    .mainPart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1300px) {
    .topmusorok img {
        padding-right: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    .description p {
        display: none;
    }

    .categoryBTN {
        display: none;
    }

    #mainTitle {
        text-align: center;
    }

    .socialMedia::after {
        margin-left: 10px;
        margin-right: 10px;
    }

    .topmusorok {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        align-items: center;
      }
      
      .topmusorok img {
        width: 250px;
        height: 350px;
        object-fit: cover;
      }
      
      
      .slide-desc {
        display: none; 
      }
}

@media screen and (max-width: 650px) {
    .topmusorok {
      display: block; 
      text-align: center; 
    }
  
    .topmusorok img {
      width: 150px; 
      height: 250px;
      object-fit: cover;
      margin: 20px auto; 
    }
  }
  