* {
    list-style-type: none;
}

html {
    height: 100%;
}

body {
    background-color: #000000;
    background-image: linear-gradient(90deg, #535353, #494949, #000000, #494949, #535353);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: whitesmoke;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#filmVerzum{
    font-size: 50px;
    margin-top: 10px;
    position: center;
}
#topMusorok{
    margin-left: 30px;
}

.main {
    margin-top: 5%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.mainPart {
    display: flex;
    padding: 15px 15px;
}

.poster {
    width: 100%;
    height: 30%;
    display: flex;
}

#posterIMG {
    width: 80%;
    height: 100%;
}

.description {
    padding-left: 20px;
}

.categoryBTN {
    border: none;
    border-radius: 25%;
    margin-right: 5px;
    background-color: rgba(53, 53, 53, 0.5);
    color: whitesmoke;
    cursor: pointer;
}

.categoryBTN:hover {
    background-color: rgba(75, 75, 75, 0.5);
}


.secondary {
    width: 100%;
}

.topmusorok {
    background-color: #000000c4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

.slide-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    color: whitesmoke;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .topmusorok a {
    position: relative;
  }
  
  .topmusorok a:hover .slide-desc {
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
  }
  
  
  

.topmusorok img {
    height: 300px;
    width: 200px;
    padding-right: 100px;
}


.lablec {
    margin-top: 70px;
    width: 100%;
    background-color: #000000c4;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.socialMedia, .settings {
    display: flex;
    align-items: center;
}

.socialMedia::after {
    content: "";
    display: block;
    height: 50px;
    width: 1px;
    background-color: whitesmoke;
    margin-left: 40px;
    margin-right: 40px;
}

.lablec a {
    text-decoration: none;
    color: whitesmoke;
}

.lablec a {
    margin: 40px;
}

.lablec li {
    margin: 20px;
}

@media only screen and (max-width: 1600px) {
    .mainPart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .poster {
        width: 60%;
        height: auto;
    }

    .sidePosters {
        width: 100%;
        padding-left: 120px;
        padding-top: 25px;
        display: flex;
    }

    .smallPoster-slide {
        width: 50%;
        margin-bottom: 20px;
    }

    .smallPoster-slide img {
        width: 50%;
        height: 250px;
        object-fit: fill;
    }

    .slide-desc {
        width: 60%;
    }
}

@media only screen and (max-width: 1300px) {
    .slider-container {
        height: 40%;
    }

    .slider-item img {
        width: 80%;
        height: 300px;
    }
}

@media only screen and (max-width: 900px) {
    .description p {
        display: none;
    }

    .categoryBTN {
        display: none;
    }

    #mainTitle {
        text-align: center;
    }

    .socialMedia::after {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .sidePosters {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .poster {
        width: 100%;
        height: 100%;
    }
}

@media print {
    #filmVerzum{
        position: absolute;
        top: 0;
        text-align: center;
    }
    .main{
        background: none;
    }
    .topmusorok{
        background: none;
        width: 90%;
        alignment: center;
        position: absolute;
    }
    .topmusorok img{
        height: 380px;
        width: auto;
        padding: 10px;
    }
    .poster{
        position: absolute;
        top: 100px;

    }
    .secondary{
        position: absolute;
        top: 550px;
    }
    .fourthInTopFilmek{
        display: none;
    }
}